@media screen and (max-width: 430px) {
    .Proyects .Proyect_Container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
@media (max-height:1180px) and (max-width:820px) {
    
    .Proyects .Proyect_Container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}