/* Tablets / notebooks chicos */
@media screen and (max-width: 1024px) {
    .modal-proyect {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100dvh;
        top: 0;
        left: 0;
    }

    .modalProyectImage {
        width: 100%;
        height: 100%;
        border-right: none;
    }

    .modalProyectText {
        width: 100%;
        height: 100%;
        border-left: none;
    }
    .modalProyectText .close-button{
        height: 9%;
        width: 8%;   
        z-index: 10;
        position: relative;
    }

    .modalProyectText .proyectModalContent h3 {
        height: auto;
        font-size: 2.4rem;
    }

    .modalProyectText .close-button {
        font-size: 2rem;
    }

    .modalProyectText .proyectModalContent p {
        font-size: 1.6rem;
        width: 100%;
        height: auto;
    }

    .modalProyectText .link-modal {
        font-size: 1.8rem;
    }
}

/* Mobile */
@media screen and (max-width: 430px) {
    .modal-proyect {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100dvh;
        top: 0;
        left: 0;
    }

     .modalProyectText .close-button{
        font-size: smaller;
        height: 8%;
        width: 7%;   
        z-index: 10;
    }
    .modalProyectText{
        overflow-y: hidden;
        height: 100%;
    }

    .modalProyectText .link-modal{
    }
    .modalProyectText .proyectModalContent p {
        font-size: 1.2rem;
    }

    .modalProyectText .link-modal {
        font-size: 1.1rem;
    }
}

/* Mobile chico */
@media screen and (max-width: 391px) {
    .modalProyectText {
        height: 60%;
    }

   .modal-proyect .proyectModalContent h3{
        font-size: 1.6rem;
        height: auto;
    }
    .modal-proyect .proyectModalContent p{
        font-size: 1.1rem;
        height: auto;
    }

    .modalProyectImage {
        height: 40%;
    }
}
