.modal-proyect {
  position: fixed;
  top: 10%;
  left: 5%;
  z-index: 1000;
  width: 90vw;
  height: 75dvh;
  border: 1px solid var(--color4);
  border-radius: 10px;
  background-color: var(--color1);
  display: flex;
}

.modalProyectImage {
  border-right: 1px solid var(--color2);
  width: 60%;
}

.modalProyectText {
  width: 40%;
  border-left: 1px solid var(--color2);
}

.modalProyectText .close-button {
  margin-bottom: 0.5rem;
  border: 1px solid var(--color2);
  background-color: var(--color1);
  border-radius: 30%;
  float: right;
  margin-right: 0.3rem;
  margin-top: 0.2rem;
  padding: 0.5rem;
}

.modalProyectText .close-button:hover {
  background-color: var(--color5);
  color: var(--color1);
  cursor: pointer;
}

.modalProyectText .proyectModalContent {
  padding: 1rem;
  height: 85%;
  width: 100%;
}

.modalProyectText .proyectModalContent p {
  font-size: 1.2rem;
  width: 100%;
  height: auto;
  word-wrap: break-word;
}

.modalProyectText a{
  margin-left: 40%;
  font-size: 1.2rem;
  color: var(--color3);
  text-decoration: none;
}
.modalProyectText a:hover{
  color: var(--color5);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: var(--color2);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color5);
}