@media screen and (max-width: 430px) {
    .modal-proyect {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100dvh;
        top: 0%;
        left: 0%;
    }

    .modalProyectImage {
        width: 100%;
        height: 50%;
        border-right: none;
    }

    .modalProyectText {
        width: 100%;
        height: 50%;
        border-left: none;
    }

    .modalProyectText .proyectModalContent p {
        font-size: 1.2rem;
        width: 100%;
        height: auto;
    }

    .modalProyectText .link-modal {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 391px) {
    .modal-proyect .modalProyectText{
        width: 100%;
        height: 70%;
    }
    .modal-proyect .modalProyectImage {
        width: 100%;
        height: auto;
    }
}
@media (max-height:1180px) and (max-width:820px) {
    .modal-proyect {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100dvh;
        top: 0%;
        left: 0%;
    }
      .modalProyectImage {
        width: 100%;
        height: 50%;
        border-right: none;
    }

    .modalProyectText {
        width: 100%;
        height: 50%;
        border-left: none;
    }
    .modalProyectText .proyectModalContent h3 {
        font-size: 2.5rem;
        width: 100%;
        height: auto;
    }
    .modalProyectText .close-button{
        font-size: 2rem;
    }

    .modalProyectText .proyectModalContent p {
        font-size: 1.6rem;
        width: 100%;
        height: auto;
    }

    .modalProyectText .link-modal {
        font-size: 1.8rem;
    }
}

@media (max-height:1366px) and (max-width:1024px) {
     .modal-proyect {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100dvh;
        top: 0%;
        left: 0%;
    }
      .modalProyectImage {
        width: 100%;
        height: 50%;
        border-right: none;
    }

    .modalProyectText {
        width: 100%;
        height: 50%;
        border-left: none;
    }
    .modalProyectText .proyectModalContent h3 {
        font-size: 2.5rem;
        width: 100%;
        height: auto;
    }
    .modalProyectText .close-button{
        font-size: 2rem;
    }

    .modalProyectText .proyectModalContent p {
        font-size: 1.6rem;
        width: 100%;
        height: auto;
    }

    .modalProyectText .link-modal {
        font-size: 1.8rem;
    }
}