@media screen and (max-width: 376px) {
    .carousel-container{
        width: 100%;
        height: 100%;
    }
    .carousel-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .carousel-container button{
        height: 20%;
    }
}