@media screen and (max-width: 376px) {
    .carousel-container{
        width: 100%;
        height: 100%;
    }
    
    .carousel-container .carousel-item{
        height: 80%;
    }
    .carousel-container .carousel-item img{
        width: 100%;
        height: 90%;
        object-fit: cover;
    }
    .carousel-container button{
        height: 10%;
    }
}

@media screen and (max-width:430px){
    .carousel-container{
        width: 100%;
        overflow-y: hidden;
        height: 100%;
    }
}