.carousel-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.carousel-container .carousel-item{
    width: 100%;
    height: 90%;
    margin-top: 1%;
}

.carousel-container .carousel-item img{
    width: 100%;
    height: 95%;
    object-fit: contain;
}

.carousel-container button{
    width: 3rem;
    margin: 0.3rem;
    background-color: var(--color1);
    border: none;
    color: var(--color5);
    font-size: 1.5rem;
    cursor: pointer;
}
.carousel-container button:hover{
    background-color: var(--color5);
    color: var(--color1);
}