@media screen and (max-width: 420px){
    .CardIcon{
        width: 20%;
        height: 32%;
        margin: 0.1rem;
    }
    .CardIcon img{
        width: 100%; 
        height: 50%;
        object-fit: contain;
    }
    .CardIcon p{
        font-size: 1.1rem;
        width: 100%;
        text-align: center;
        height: 45%;
    }
}
@media screen and (max-width: 430px){
    .CardIcon{
        width: 20%;
        height: 32%;
        margin: 0.1rem;
    }
    .CardIcon img{
        width: 100%; 
        height: 60%;
        object-fit: contain;
    }
    .CardIcon p{
        font-size: 1rem;
        width: 100%;
        text-align: center;
        height: 40%;
    }
}


@media screen and (max-width: 378px){
    .CardIcon p{
        font-size: 0.79rem;
    }
}