.CardIcon {
    border: 1px solid var(--color4);
    border-radius: 20px;
    display: flex;
    width: 15%;
    height: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.CardIcon:hover {
    border: 1px solid var(--color5);
}

.techIcon {
    width: 10vh;
    height: 10vh;
    object-fit: contain;
}