.home {
    background:var(--color1);
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.home .home_text {
    width: 50%;
    height: 40%;
}

.home .home_text .text {
    width: 100%;
    height: 80%;
}

.home .home_text .text h2 {
    font-size: 2.6rem;
}

.home .home_text .text h1 {
    font-size: 4rem;
}

.home .home_text .text p {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}
.home .home_text .button_container {
    width: 100%;
    height: 20%;
}
.home .home_text .button_container .button {
    text-decoration: none;
    height: 100%;
    border-radius: 50px;
    width: 100%;
    background: var(--color3);
    color: var(--colorText);
    font-size: 1.8rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.home .home_text .button_container .button:hover {
    background: var(--color4);
}


.home .image_chibi {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.home .image_chibi img {
    object-fit: cover;
    border: 3px solid var(--color1);
    width: 45vh;
    height: 45vh;
    border-radius: 50%;
}