@media screen and (max-width: 430px) {
    .home {
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
    }

    .home .home_text {
        width: 100%;
    }

    .home .home_text .text {
        padding: 0.5rem;
        text-align: center;
    }

    .home .home_text .text h2 {
        font-size: 2rem;
    }

    .home .home_text .text h1 {
        font-size: 3rem;
    }

    .home .home_text .text p {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }
    .home .home_text .button_container {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .home .home_text .button_container .button {
        width: 90%;
        height: 5vh;
    }

    .home .image_chibi{
        margin-top: 1rem;
        width: 80vw;
        height: 80vw;
    }
    .home .image_chibi img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}

@media screen and (max-width: 378px){
    .home .home_text .button_container .button{
        width: 90%;
        height: 7vh;
    }
}
@media (max-height:1366px) and (max-width:1024px) {
    .home .home_text .button_container .button{

        font-size: 2.5rem;
    }
}