.Contact {
    width: 100dvw;
    height: 80dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--color1);
}

.Contact h2 {
    text-align: center;
    font-size: 2.4rem;
    color: var(--colorText);
    width: 100%;
    height: 10%;
}

.Contact .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.Contact .form form {
    border: 2px solid var(--color4);
    width: 60%;
    border-radius: 30px;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.Contact .form form input {
    font-size: 1.2rem;
    width: 95%;
    height: 10%;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 1rem;
}

.Contact .form form textarea {
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    min-height: 40%;
    max-height: 50%;
    font-size: 1.2rem;
    resize: none;
    height: 40%;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 1rem;
}

.Contact .form form button {
    width: 20%;
    height: 8%;
    border-radius: 30px;
    border: none;
    outline: none;
    background: var(--color2);
    color: var(--colorText);
    font-size: 1.3rem;
}

.Contact .form form button:hover {
    background: var(--color3);
    cursor: pointer;
}