@media screen and (max-width: 420px){
    .Contact{
        width: 100vw;
        height: 80vh;
    }
    .Contact h2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;

        font-size: 2.5rem;
    }
    .Contact .form{
        width: 100%;
        height: 80%;
    }
    .Contact .form form{
        width: 90%;
        height: 100%;
    }
}

@media (max-width:1025px) and (max-height:601px) {
    .Contact h2{
        font-size: 1.9rem;
    }
}