footer {
    width: 100vw;
    height: 15dvh;
    background: var(--color3);

}
footer p{
    font-size: 1.5rem;
    color: var(--colorText);
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer .social a{
    text-decoration: none;
    width: 3%;
}
footer .social img {
    width: 100%;
    object-fit: cover;
}