/* Tablets / notebooks chicos */
@media screen and (max-width: 1024px) {
    footer .social a {
        width: 4.6%;
    }
}

/* Tablets */
@media screen and (max-width: 820px) {
    footer .social a {
        width: 12%;
    }
}

/* Mobile */
@media screen and (max-width: 430px) {
    footer .social a {
        width: 15%;
    }
}

/* Mobile chico */
@media screen and (max-width: 378px) {
    footer .social a {
        width: 12%;
    }
}
