.UniqueProyect {
    border: 2px solid var(--color5);
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.uniqueProyect_Image {
    width: 100%;
    height: 40%;
}

.uniqueProyect_Image img {
    width: 100%;
    height: 97%;
    object-fit: contain;
}

.UniqueProyect h3 {
    text-align: center;
    width: 100%;
    height: 10%;
    font-size: 1.9rem;
}

.UniqueProyect p {
    width: 100%;
    height: 45%;
    word-wrap: break-word;
    font-size: 1.2rem;
}

.UniqueProyect .btnCard {
    width: 40%;
    height: 5%;
    border-radius: 10px;
    background-color: var(--color3);
    color: var(--colorText);
    border: none;
}

.UniqueProyect .btnCard:hover {
    background-color: var(--color4);
    color: var(--colorText);
    cursor: pointer;
    border: 1px solid var(--color3);
}