.Technologies {
    width: 100%;
    height: 45dvh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color1);
}

.Technologies .h2 {
    width: 100%;
    height: 20%;
    font-size: 1.8rem;
    text-align: center;
}
.Technologies .h1 h2 {
    border-bottom: 2px solid var(--color3);
    width: 14%;
    margin: auto;
}

.Technologies .Technologies_Icons {
    
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
