/* Tablets grandes / notebooks */
@media screen and (max-width: 1024px) {
    .Technologies .Technologies_Icons {
        width: 95%;
    }

    .Technologies .h2 h2 {
        font-size: 2rem;
    }
}

/* Tablets */
@media screen and (max-width: 820px) {
    .Technologies .h2 h2 {
        font-size: 1.7rem;
    }
}

/* Mobile */
@media screen and (max-width: 430px) {
    .Technologies .Technologies_Icons {
        width: 95%;
        height: 60dvh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Technologies .h2 h2 {
        font-size: 2.4rem;
    }
}

/* Mobile chico */
@media screen and (max-width: 378px) {
    .Technologies .h2 h2 {
        font-size: 1.5rem;
    }
}
