@media screen and (max-width: 420px){
    .Technologies .Technologies_Icons{

        width: 95%;
        height: 60dvh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Technologies .h2 h2{
        font-size: 2.3rem;
    }
}

@media (max-width:1025px) and (max-height:601px) {
    .Technologies .h2 h2{
        font-size: 2rem;
        
    }
}

@media (max-width:1281px) and (max-height:801px) {
    .Technologies .h2{
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 430px){
    .Technologies .Technologies_Icons{

        width: 95%;
        height: 60dvh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Technologies .h2{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 378px){
    .Technologies .h2 h2{
        font-size: 1.7rem;
    }
}

@media (max-height:1180px) and (max-width:820px){
    .Technologies .Technologies_Icons {
        width: 95%;
    }
}

@media (max-height:1366px) and (max-width:1024px){
    .Technologies .Technologies_Icons {
        width: 95%;
    }

}