@media screen and (max-width: 420px) {
    .AboutMe {
        width: 100vw;
        height: 60vh;
    }

    .AboutMe h2 {
        font-size: 2rem;
    }
}

@media (max-width:1025px) and (max-height:601px) {
    
    .AboutMe h2 {
        font-size: 1.8rem;
        height: 25%;
    }

    .AboutMe p{
        font-size: 1.2rem;
        height: 75%;
        width: 90%;
    }
}