
@media screen and (min-width: 1025px) {
    .AboutMe h2{
        height: 25%;
    }

    .AboutMe p{
        width: 90%;
        font-size: 1.2rem;
    }
}

/* Tablets / notebooks chicos */
@media screen and (max-width: 1024px) {
    .AboutMe h2 {
        font-size: 2rem;
        height: 35%;
    }

    .AboutMe p {
        font-size: 1.2rem;
        width: 90%;
    }
}

/* Mobile */
@media screen and (max-width: 430px) {
    .AboutMe {
        width: 100vw;
        height: 65vh;
    }

    .AboutMe h2 {
        height: 10%;
        font-size: 2rem;
    }

    .AboutMe p {
        font-size: 1.5rem;
    }
}

/* Mobile chico */
@media screen and (max-width: 376px) {
    .AboutMe {
        height: 50vh;
    }
    .AboutMe h2 {
        height: 15%;
        font-size: 1.5rem;
    }

    .AboutMe p {
        font-size: 1.07rem;
    }
}
