.AboutMe{
    width: 100%;
    height: 30vh;
    background: var(--color3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AboutMe h2{
    font-size: 1.8rem;
}
.AboutMe p{
    font-size: 1.3rem;
    width: 70%;
    word-wrap: break-word;
}